<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TRS</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{link-to 'Home' 'index'}}</li>
        <li>{{link-to 'Projects' 'projects'}}</li>
        {{#if session.isAuthenticated}}
        {{else}}
          <li>{{link-to 'Sign up' 'signup'}}</li>
          <li>{{link-to 'Log in' 'login'}}</li>
        {{/if}}
      </ul>

    </div>
  </div>
</nav>
