<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Contact Us</h3>
      <hr>

      <div class="form-group">
        {{input value=model.email placeholder="Your email" class="form-control"}}
      </div>
      <div class="form-group">
        {{input value=model.subject placeholder="Subject" class="form-control"}}
      </div>
      <div class="form-group">
        {{textarea value=model.message rows="10" placeholder="Message" class="form-control"}}
      </div>
      <div {{action "sendContact"}} class="form-group">
        {{input type="submit" value="Contact Us" class="btn btn-success"}}
      </div>

    </div>  
  </div>           
</div>