<div class="container col-sm-offset-4 col-sm-3">
  <form class="form" {{action 'authenticate' 'withDefault' on='submit'}}>
    <h2 clas="form-signin-heading">Log in</h2>
    {{input type="email" placeholder='Your Email' value=identification class="form-control"}}
    {{input type="password" placeholder='Your Password' value=password class="form-control"}}
    {{#if error}}
      <div class="error-message">{{error}}</div>
    {{/if}}
    <input type="submit" class="btn btn-lg btn-primary btn-block"value="Log in" disabled={{inProcess}}>
  </form>
  <div class="resend">
    {{#if identification}}
      {{#link-to 'resend' (query-params email=identification) class="blue"}} Resend confirmation link{{/link-to}}
    {{else}}
      {{#link-to 'resend' class="blue"}} Resend confirmation link{{/link-to}}
    {{/if}}
  </div>
  <div class="text center">Need an Account?</div>
  {{#link-to 'signup' class="btn btn-sm btn-default"}}Sign up here{{/link-to}}

</div>
