<div class="container col-sm-offset-4 col-sm-3">
  <form class="form" {{action 'signup' 'withDefault' on='submit'}}>
    <h2 clas="form-signin-heading">Sign up</h2>
    {{input type="email" placeholder="Your Email" value=model.email class="form-control"}}
    {{input type="password" placeholder="Your Password" value=model.password class="form-control"}}
    {{#if model.errors}}
      {{#each model.errors.email as |error|}}
        <div class="error-message">
          {{error-helper error}}
        </div>
      {{/each}}
      {{#each model.errors.password as |error|}}
        <div class="error-message">
          {{error-helper  error}}
        </div>
      {{/each}}
    {{/if}}

    <div class="input">
      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign up" disabled={{inProcess}}>
    </div>
  </form>
</div>

